choice-app/target/classes/choice-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="choice-appFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP"/>
        <set-session-variable variableName="methodName" value="#[message.inboundProperties.'http.method']" doc:name="Session Variable"/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.methodName=='GET']">
                <flow-ref name="choice-getappFlow" doc:name="GET Flow Reference"/>
            </when>
            <when expression="#[sessionVars.methodName=='POST']">
                <flow-ref name="choice-post-appFlow" doc:name="POST Flow Reference"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Default Logger"/>
            </otherwise>
        </choice>
        <set-payload doc:name="Set Payload" value="#[sessionVars.methodName]"/>
    </flow>
    <flow name="choice-getappFlow">
        <logger message="#[sessionVars.methodName]" level="INFO" doc:name="GET Logger"/>
    </flow>
    <flow name="choice-post-appFlow">
        <logger message="#[sessionVars.methodName]" level="INFO" doc:name="POST Logger"/>
    </flow>
</mule>
