my-vm-queue/src/main/app/my-vm-queue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <flow name="my-vm-queueFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/putInVM" allowedMethods="POST" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="#[payload]" level="INFO" doc:name="Before Logger"/>
        <set-payload value="#[payload]" mimeType="application/json" doc:name="Set Payload"/>
        <logger message="#[[#[payload]" level="INFO" doc:name="After Logger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="vmq" connector-ref="VM" doc:name="VM"/>
    </flow>
    <flow name="my-vm-queueFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vmq" doc:name="VM"/>
        <file:outbound-endpoint path="/Users/nitin/Desktop/mule3workspace/my-vm-queue/src/main/resources/out" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
