my-split-aggregator/src/main/app/my-split-aggregator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="my-split-collection-aggregatorFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/splitaggre" allowedMethods="POST" doc:name="HTTP"/>
        <message-chunk-splitter messageSize="512" doc:name="Message Chunk Splitter"/>
        <file:outbound-endpoint path="/Users/nitin/Desktop/mule3workspace/my-split-aggregator/src/main/java/out" responseTimeout="10000" doc:name="File"/>
        <message-chunk-aggregator failOnTimeout="true" doc:name="Message Chunk Aggregator"/>
    </flow>
    <flow name="my-split-splitter">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/splitter" allowedMethods="POST" doc:name="HTTP"/>
        <splitter expression="#[xpath('//Employee')]" doc:name="Splitter"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <file:outbound-endpoint path="/Users/nitin/Desktop/mule3workspace/my-split-aggregator/src/main/java/out" responseTimeout="10000" doc:name="File"/>
        <collection-aggregator failOnTimeout="false" doc:name="Collection Aggregator"/>
        <string-to-byte-array-transformer mimeType="application/xml" doc:name="String to Byte Array"/>
    </flow>
</mule>
